<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums:</h1>

    
      <% @albums.each do |album| %>
        <div>
            <p>Title: <a href='/albums/<%= album.id %>'><%= album.title %></a></p>
            <p>Release Year: <%= album.release_year %></p>
        </div>
      <% end %>
    

  </body>
</html>