<html>
  <head></head>
  <body>
    <form method='POST' action='/albums'>
        <div>
            <label>Album Title:</label>
            <input type='text' name='title'/>
        </div>

        <div>
            <label>Release Year:</label>
            <input type='text' name='release_year'/>
        </div>

        <div>
            <label>Artist ID:</label>
            <input type='text' name='artist_id'/>
        </div>

        <input type='submit'/>
    </form>
  </body>
</html>
