<!-- GET / -->

<html>
  <head></head>
  <body>
    <h1>This is the index page</h1>

    <a href="/albums">Go to the albums page</a><br>
    <a href="/artists">Go to the artists page</a><br>
  </body>
</html>